.kwadrat1 {
    background-color: rgb(53, 125, 189);
    width: 300px;
    height: 300px;
    border: 2px solid black;
    margin-top: 8%;
    margin-left: 40%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kwadrat1 p {
text-align: center;
margin: 0;
}

.kwadrat2 {
    background-color: rgb(189, 141, 53);
    width: 300px;
    height: 300px;
    border: 2px solid black;
    margin-top: 7%;
    margin-left: 40%;
    border-top-right-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kwadrat2 p {
text-align: center;
margin: 0;    
}